<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<div class="container">
<table class="table">
    <thead>
    <tr>
        <th scope="col">productId</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>

        <h3>Products</h3>
        <tr th:each="product : ${products}">
            <th th:text="${product.productId}" scope="row"></th>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.status}"></td>
            <td th:text="${product.createdAt}"></td>
        </tr>



    </tbody>
</table>
</div>
</body>
</html>